---
import "@/styles/global.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { GENERAL_CONFIG } from "@/blog-config";
import { Font } from "astro:assets";

interface Props {
  pageTitle?: string,
  description?: string,
}

const { pageTitle, description } = Astro.props;

const { siteTitle } = GENERAL_CONFIG;
const title = pageTitle ? `${pageTitle} | ${siteTitle}` : `${siteTitle}`
---

<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content={description ? description : GENERAL_CONFIG.description} />
		<title>{title}</title>
    <Font cssVariable="--font-noto-sans-kr" preload />
    <Font cssVariable="--font-jetbrains-mono" preload />
	</head>
	<body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
	</body>
</html>

<style>
  main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 640px) {
    main {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    main {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    main {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    main {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    main {
      max-width: 1536px;
    }
  }
</style>